*{
    margin: 0px;
    padding: 0;
  font-family: Arial, Helvetica, sans-serif;  
}
#titulo{
        font-size: 40px;
        font-weight: 100px;
        
}
{
    .subtitulo
    margin:only-of-type
    font-size:30px;
    font-weight: 13, 50,120();
}